
form.container-search-field {
    background: #6d707c;
    width: 100%;
}

form.container-search-field input {
    width: 100%;
    background: none;
    border: none;
    padding: 20px 0px;
    font-size: 35px;
    outline: none;
    color: rgb(168, 169, 173);
}

form.container-search-field input::placeholder {
    color: rgb(168, 169, 173);
    font-weight: 700;
}