.header-disney {
    float: left;
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    height: 76px;
    z-index: 2;
}
.container-logo {
    width: 80px;
    float: left;
}
.container-logo img {width: 100%;}

header.header-disney nav ul {margin: 0px;padding: 0;list-style: none;display: flex;height: 100%;align-items: center;}

header.header-disney nav ul li {margin-right: 10px;}

header.header-disney nav ul li * {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'metropolisbold';
}


nav {
    margin-left: 50px;
}

header.header-disney nav ul li svg {
    font-size: 17px;
    margin-right: 8px;
}

header.header-disney nav ul li a {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

header.header-disney nav ul li a:before {
    content: "";
    position: absolute;
    bottom: -7px;
    height: 2px;
    left: 24px;
    background: white;
    width: 0;
    transition: all 0.3s ease-out;
    opacity: 0;
}


header.header-disney nav ul li a {
    position: relative;
}

header.header-disney nav ul li a:hover:before {
    width: calc(100% - 24px);
    opacity: 1;
}

.userAvatar {
    width: 50px;
    float: right;
}

.userAvatar img {
    width: 100%;
}

.userAvatar button {
    background: none;
    border: none;
    padding: 0px;
}

header.header-disney nav {
    height: 100%;
    float: left;
}