.container-section-list .swiper-pagination {
    bottom: 0px;
}

.container-section-list .swiper {
    padding-bottom: 25px;
}
.swiper {
    overflow: inherit !important; 
}

/*ESTILOS CARD*/

a.card-movie-item {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

a.card-movie-item img {
    width: 100%;
}

.swiper-slide {
    height: 139px !important;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    overflow: hidden;
}

a.card-movie-item img {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 7px #686868;
    width: 100%;
}