@font-face {
    font-family: 'metropolisbold';
    src: url('./fonts/metropolis-bold-webfont.woff2') format('woff2'),
         url('./fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolisregular';
    src: url('./fonts/metropolis-regular-webfont.woff2') format('woff2'),
         url('./fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metropolissemi_bold';
    src: url('./fonts/metropolis-semibold-webfont.woff2') format('woff2'),
         url('./fonts/metropolis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.App {
    background: rgb(26, 29, 41);
}

.general-container.MuiContainer-root {
    padding: 0 calc(3.5vw + 24px);
    width: 100% !important;
    max-width: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-height: calc(100vh - 309px);
    margin-top: 76px;
}
.general-container.MuiContainer-root.detail-page-container {
    padding-left: 0px ;
    padding-right: 0px ;
}



p,a,span,h1,h2,h3,h4 {
    font-family: 'metropolisregular';
    color: white;
}

form {
    background: white;
}